<h1>All Quiz Topics</h1>

<% @topics.each do |topic| %>
  <ul>
    <li><%= link_to topic.title, topic_path(topic.id) %></li>
  </ul>
  <p><%= image_tag topic.image, :class => 'thumb' %></p>
<% end %>


# // Check topic_path will need to link to a page with all questions and all answers. Come back to this.=
// Gets URL - topic_path(topic.id)
