<h1>All Quiz Topics</h1>

<% @topics.each do |topic| %>
  <ul>
    <li><%= link_to topic.title, topic_path(topic.id) %></li>
  </ul>
  <p><%= image_tag topic.image, :class => 'thumb' %></p>
<% end %>
